///APPLIES TO ALL CARDS
#grid-wrapper-fiction-blue {
    display: grid;
    margin: 0 auto;
    gap: 5px;
}
#grid-wrapper-fiction-blue a div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}
#grid-wrapper-fiction-blue > div > a {
    text-decoration: none;
    text-align: center;
}
#grid-wrapper-fiction-blue > div > a div {
    background-repeat: no-repeat;
}
///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    #grid-wrapper-fiction-blue a div {
        font-size: 25px;
    }
    #grid-wrapper-fiction-blue {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 90vh);
    }
    ///adidas
    .ten-blue {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .five-blue {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .two-blue {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .four-blue {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .three-blue {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .six-blue {
        grid-column: 1/2;
        grid-row: 6/7;
    }
    .one-blue {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    .seven-blue {
        grid-column: 1/2;
        grid-row: 8/9;
    }
    .eight-blue {
        grid-column: 1/2;
        grid-row: 9/10;
    }
    .nine-blue {
        grid-column: 1/2;
        grid-row: 10/11;
    }
    .eleven-blue {
        grid-column: 1/2;
        grid-row: 11/12;
    }
    .twelve-blue {
        grid-column: 1/2;
        grid-row: 12/13;
    }
    ///CARD ONE
    #grid-wrapper-fiction-blue > div.one-blue > a div {
        background-size: auto 150%;
        background-position: 43%;
    }
    ///CARD TWO
    #grid-wrapper-fiction-blue > div.two-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    //CARD THREE
    #grid-wrapper-fiction-blue > div.three-blue > a div {
        background-size: auto 140%;
        background-position: center;
    }
    ///CARD FOUR
    #grid-wrapper-fiction-blue > div.four-blue > a div {
        background-size: auto 138%;
        background-position: center;
    }
    ///CARD FIVE
    #grid-wrapper-fiction-blue > div.five-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD SIX
    #grid-wrapper-fiction-blue > div.six-blue > a div {
        background-size: cover;
        background-position: center;
    }
    //CARD SEVEN
    #grid-wrapper-fiction-blue > div.seven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    //CARD EIGHT
    #grid-wrapper-fiction-blue > div.eight-blue > a div {
        background-size: auto 114%;
        background-position: 48%;
    }
    //CARD NINE
    #grid-wrapper-fiction-blue > div.nine-blue > a div {
        background-size: auto 111%;
        background-position: 54%;
    }
    //CARD TEN
    #grid-wrapper-fiction-blue > div.ten-blue > a div {
        background-size: auto 112%;
        background-position: 87%;
    }
    //CARD ELEVEN
    #grid-wrapper-fiction-blue > div.eleven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    //CARD TWELVE
    #grid-wrapper-fiction-blue > div.twelve-blue > a div {
        background-size: auto 125%;
        background-position: 46%;
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    #grid-wrapper-fiction-blue a div {
        font-size: 25px;
    }
    #grid-wrapper-fiction-blue {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(10, 200px);
    }
    /// 2 BIG
    .twelve-blue {
        grid-column: 1/4;
        grid-row: 1/3;
    }
    .five-blue {
        grid-column: 4/7;
        grid-row: 1/3;
    }
    /// 3 SMALL
    .two-blue {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .four-blue {
        grid-column: 3/5;
        grid-row: 3/5;
    }
    .three-blue {
        grid-column: 5/7;
        grid-row: 3/5;
    }
    /// 2 BIG
    .seven-blue {
        grid-column: 1/4;
        grid-row: 5/7;
    }
    .eleven-blue {
        grid-column: 4/7;
        grid-row: 5/7;
    }
    /// 3 SMALL
    .eight-blue {
        grid-column: 1/3;
        grid-row: 7/9;
    }
    .six-blue {
        grid-column: 3/5;
        grid-row: 7/9;
    }
    .ten-blue {
        grid-column: 5/7;
        grid-row: 7/9;
    }
    /// 2 BIG
    .one-blue {
        grid-column: 1/4;
        grid-row: 9/11;
    }
    .nine-blue {
        grid-column: 4/7;
        grid-row: 9/11;
    }
    ///CARD TWELVE
    #grid-wrapper-fiction-blue > div.twelve-blue > a div {
        background-size: auto 124%;
        background-position: 31%;
    }
    ///CARD ELEVEN
    #grid-wrapper-fiction-blue > div.eleven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD TEN
    #grid-wrapper-fiction-blue > div.ten-blue > a div {
        background-size: auto;
        background-position: 87%;
    }
    ///CARD NINE
    #grid-wrapper-fiction-blue > div.nine-blue > a div {
        background-size: auto 115%;
        background-position: 85%;
    }
    ///CARD EIGHT
    #grid-wrapper-fiction-blue > div.eight-blue > a div {
        background-size: auto 115%;
        background-position: 40%;
    }
    ///CARD SEVEN
    #grid-wrapper-fiction-blue > div.seven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD SIX
    #grid-wrapper-fiction-blue > div.six-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD FIVE
    #grid-wrapper-fiction-blue > div.five-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD FOUR
    #grid-wrapper-fiction-blue > div.four-blue > a div {
        background-size: auto;
        background-position: center;
    }
    ///CARD THREE
    #grid-wrapper-fiction-blue > div.three-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    ///CARD TWO
    #grid-wrapper-fiction-blue > div.two-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    ///CARD ONE
    #grid-wrapper-fiction-blue > div.one-blue > a div {
        background-size: auto 150%;
        background-position: 45%;
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    #grid-wrapper-fiction-blue a div {
        font-size: 25px;
    }
    #grid-wrapper-fiction-blue {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(11, 200px);
    }
    /// 2 BIG
    .twelve-blue {
        grid-column: 1/4;
        grid-row: 2/4;
    }
    .five-blue {
        grid-column: 4/7;
        grid-row: 2/4;
    }
    /// 3 SMALL
    .two-blue {
        grid-column: 1/3;
        grid-row: 4/6;
    }
    .four-blue {
        grid-column: 3/5;
        grid-row: 4/6;
    }
    .three-blue {
        grid-column: 5/7;
        grid-row: 4/6;
    }
    /// 2 BIG
    .seven-blue {
        grid-column: 1/4;
        grid-row: 6/8;
    }
    .eleven-blue {
        grid-column: 4/7;
        grid-row: 6/8;
    }
    /// 3 SMALL
    .eight-blue {
        grid-column: 1/3;
        grid-row: 8/10;
    }
    .six-blue {
        grid-column: 3/5;
        grid-row: 8/10;
    }
    .ten-blue {
        grid-column: 5/7;
        grid-row: 8/10;
    }
    /// 2 BIG
    .one-blue {
        grid-column: 1/4;
        grid-row: 10/12;
    }
    .nine-blue {
        grid-column: 4/7;
        grid-row: 10/12;
    }
    ///CARD TWELVE
    #grid-wrapper-fiction-blue > div.twelve-blue > a div {
        background-size: auto 125%;
        background-position: 28%;
    }
    ///CARD ELEVEN
    #grid-wrapper-fiction-blue > div.eleven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD TEN
    #grid-wrapper-fiction-blue > div.ten-blue > a div {
        background-size: auto 111%;
        background-position: 86%;
    }
    ///CARD NINE
    #grid-wrapper-fiction-blue > div.nine-blue > a div {
        background-size: auto 111%;
        background-position: 85%;
    }
    ///CARD EIGHT
    #grid-wrapper-fiction-blue > div.eight-blue > a div {
        background-size: auto 115%;
        background-position: 35%;
    }
    ///CARD SEVEN
    #grid-wrapper-fiction-blue > div.seven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD SIX
    #grid-wrapper-fiction-blue > div.six-blue > a div {
        background-size: cover;
        background-position: 50%;
    }
    ///CARD FIVE
    #grid-wrapper-fiction-blue > div.five-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD FOUR
    #grid-wrapper-fiction-blue > div.four-blue > a div {
        background-size: auto 135%;
        background-position: center;
    }
    ///CARD THREE
    #grid-wrapper-fiction-blue > div.three-blue > a div {
        background-size: auto 140%;
        background-position: center;
    }
    ///CARD TWO
    #grid-wrapper-fiction-blue > div.two-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    ///CARD ONE
    #grid-wrapper-fiction-blue > div.one-blue > a div {
        background-size: auto 150%;
        background-position: 45%;
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    #grid-wrapper-fiction-blue a div {
        font-size: 25px;
    }
    #grid-wrapper-fiction-blue {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(11, 200px);
    }
    /// 2 BIG
    .twelve-blue {
        grid-column: 1/4;
        grid-row: 2/4;
    }
    .five-blue {
        grid-column: 4/7;
        grid-row: 2/4;
    }
    /// 3 SMALL
    .two-blue {
        grid-column: 1/3;
        grid-row: 4/6;
    }
    .four-blue {
        grid-column: 3/5;
        grid-row: 4/6;
    }
    .three-blue {
        grid-column: 5/7;
        grid-row: 4/6;
    }
    /// 2 BIG
    .seven-blue {
        grid-column: 1/4;
        grid-row: 6/8;
    }
    .eleven-blue {
        grid-column: 4/7;
        grid-row: 6/8;
    }
    /// 3 SMALL
    .eight-blue {
        grid-column: 1/3;
        grid-row: 8/10;
    }
    .six-blue {
        grid-column: 3/5;
        grid-row: 8/10;
    }
    .ten-blue {
        grid-column: 5/7;
        grid-row: 8/10;
    }
    /// 2 BIG
    .one-blue {
        grid-column: 1/4;
        grid-row: 10/12;
    }
    .nine-blue {
        grid-column: 4/7;
        grid-row: 10/12;
    }
    ///CARD TWELVE
    #grid-wrapper-fiction-blue > div.twelve-blue > a div {
        background-size: auto 125%;
        background-position: 30%;
    }
    ///CARD ELEVEN
    #grid-wrapper-fiction-blue > div.eleven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD TEN
    #grid-wrapper-fiction-blue > div.ten-blue > a div {
        background-size: auto 110%;
        background-position: 90%;
    }
    ///CARD NINE
    #grid-wrapper-fiction-blue > div.nine-blue > a div {
        background-size: auto 120%;
        background-position: 85%;
    }
    ///CARD EIGHT
    #grid-wrapper-fiction-blue > div.eight-blue > a div {
        background-size: auto 115%;
        background-position: 35%;
    }
    ///CARD SEVEN
    #grid-wrapper-fiction-blue > div.seven-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD SIX
    #grid-wrapper-fiction-blue > div.six-blue > a div {
        background-size: cover;
        background-position: 50%;
    }
    ///CARD FIVE
    #grid-wrapper-fiction-blue > div.five-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD FOUR
    #grid-wrapper-fiction-blue > div.four-blue > a div {
        background-size: auto 135%;
        background-position: center;
    }
    ///CARD THREE
    #grid-wrapper-fiction-blue > div.three-blue > a div {
        background-size: auto 140%;
        background-position: center;
    }
    ///CARD TWO
    #grid-wrapper-fiction-blue > div.two-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    ///CARD ONE
    #grid-wrapper-fiction-blue > div.one-blue > a div {
        background-size: auto 150%;
        background-position: 45%;
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    #grid-wrapper-fiction-blue a div {
        font-size: 27.5px;
    }
    #grid-wrapper-fiction-blue {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(16, 200px);
    }
    /// 2 BIG
    .twelve-blue {
        grid-column: 1/4;
        grid-row: 2/5;
    }
    .five-blue {
        grid-column: 4/7;
        grid-row: 2/5;
    }
    /// 3 SMALL
    .two-blue {
        grid-column: 1/3;
        grid-row: 5/8;
    }
    .four-blue {
        grid-column: 3/5;
        grid-row: 5/8;
    }
    .three-blue {
        grid-column: 5/7;
        grid-row: 5/8;
    }
    /// 2 BIG
    .seven-blue {
        grid-column: 1/4;
        grid-row: 8/11;
    }
    .eleven-blue {
        grid-column: 4/7;
        grid-row: 8/11;
    }
    /// 3 SMALL
    .eight-blue {
        grid-column: 1/3;
        grid-row: 11/14;
    }
    .six-blue {
        grid-column: 3/5;
        grid-row: 11/14;
    }
    .ten-blue {
        grid-column: 5/7;
        grid-row: 11/14;
    }
    /// 2 BIG
    .one-blue {
        grid-column: 1/4;
        grid-row: 14/17;
    }
    .nine-blue {
        grid-column: 4/7;
        grid-row: 14/17;
    }
    ///CARD TWELVE
    #grid-wrapper-fiction-blue > div.twelve-blue > a div {
        background-size: auto 125%;
        background-position: 30%;
    }
    ///CARD ELEVEN
    #grid-wrapper-fiction-blue > div.eleven-blue > a div {
        background-size: auto 125%;
        background-position: center;
    }
    ///CARD TEN
    #grid-wrapper-fiction-blue > div.ten-blue > a div {
        background-size: auto;
        background-position: 90%;
    }
    ///CARD NINE
    #grid-wrapper-fiction-blue > div.nine-blue > a div {
        background-size: auto 115%;
        background-position: 85%;
    }
    ///CARD EIGHT
    #grid-wrapper-fiction-blue > div.eight-blue > a div {
        background-size: auto 115%;
        background-position: 35%;
    }
    ///CARD SEVEN
    #grid-wrapper-fiction-blue > div.seven-blue > a div {
        background-size: auto 135%;
        background-position: center;
    }
    ///CARD SIX
    #grid-wrapper-fiction-blue > div.six-blue > a div {
        background-size: cover;
        background-position: 50%;
    }
    ///CARD FIVE
    #grid-wrapper-fiction-blue > div.five-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD FOUR
    #grid-wrapper-fiction-blue > div.four-blue > a div {
        background-size: auto 140%;
        background-position: center;
    }
    ///CARD THREE
    #grid-wrapper-fiction-blue > div.three-blue > a div {
        background-size: auto 152%;
        background-position: center;
    }
    ///CARD TWO
    #grid-wrapper-fiction-blue > div.two-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    ///CARD ONE
    #grid-wrapper-fiction-blue > div.one-blue > a div {
        background-size: auto 150%;
        background-position: 45%;
    }
    //HOVER EFFECT GRID AREA'S
    #ho-blue {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
        transition: opacity 0.25s;
        &:hover {
            opacity: 1;
            backdrop-filter: blur(5px);
            transition: ease-in-out 350ms;
        }
    }
    #ho-blue > * {
        transform: translateY(30px);
        transition: transform 0.5s;
    }
    #ho-blue:hover > * {
        transform: translateY(0);
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
    #grid-wrapper-fiction-blue a div {
        font-size: 27.5px;
    }
    #grid-wrapper-fiction-blue {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(16, 200px);
    }
    /// 2 BIG
    .twelve-blue {
        grid-column: 1/4;
        grid-row: 2/5;
    }
    .five-blue {
        grid-column: 4/7;
        grid-row: 2/5;
    }
    /// 3 SMALL
    .two-blue {
        grid-column: 1/3;
        grid-row: 5/8;
    }
    .four-blue {
        grid-column: 3/5;
        grid-row: 5/8;
    }
    .three-blue {
        grid-column: 5/7;
        grid-row: 5/8;
    }
    /// 2 BIG
    .seven-blue {
        grid-column: 1/4;
        grid-row: 8/11;
    }
    .eleven-blue {
        grid-column: 4/7;
        grid-row: 8/11;
    }
    /// 3 SMALL
    .eight-blue {
        grid-column: 1/3;
        grid-row: 11/14;
    }
    .six-blue {
        grid-column: 3/5;
        grid-row: 11/14;
    }
    .ten-blue {
        grid-column: 5/7;
        grid-row: 11/14;
    }
    /// 2 BIG
    .one-blue {
        grid-column: 1/4;
        grid-row: 14/17;
    }
    .nine-blue {
        grid-column: 4/7;
        grid-row: 14/17;
    }
    ///CARD TWELVE
    #grid-wrapper-fiction-blue > div.twelve-blue > a div {
        background-size: auto 125%;
        background-position: 30%;
    }
    ///CARD ELEVEN
    #grid-wrapper-fiction-blue > div.eleven-blue > a div {
        background-size: auto 125%;
        background-position: center;
    }
    ///CARD TEN
    #grid-wrapper-fiction-blue > div.ten-blue > a div {
        background-size: auto;
        background-position: 90%;
    }
    ///CARD NINE
    #grid-wrapper-fiction-blue > div.nine-blue > a div {
        background-size: auto 115%;
        background-position: 85%;
    }
    ///CARD EIGHT
    #grid-wrapper-fiction-blue > div.eight-blue > a div {
        background-size: auto 115%;
        background-position: 35%;
    }
    ///CARD SEVEN
    #grid-wrapper-fiction-blue > div.seven-blue > a div {
        background-size: auto 135%;
        background-position: center;
    }
    ///CARD SIX
    #grid-wrapper-fiction-blue > div.six-blue > a div {
        background-size: cover;
        background-position: 50%;
    }
    ///CARD FIVE
    #grid-wrapper-fiction-blue > div.five-blue > a div {
        background-size: cover;
        background-position: center;
    }
    ///CARD FOUR
    #grid-wrapper-fiction-blue > div.four-blue > a div {
        background-size: auto 140%;
        background-position: center;
    }
    ///CARD THREE
    #grid-wrapper-fiction-blue > div.three-blue > a div {
        background-size: auto 152%;
        background-position: center;
    }
    ///CARD TWO
    #grid-wrapper-fiction-blue > div.two-blue > a div {
        background-size: auto 150%;
        background-position: center;
    }
    ///CARD ONE
    #grid-wrapper-fiction-blue > div.one-blue > a div {
        background-size: auto 150%;
        background-position: 45%;
    }

    //HOVER EFFECT GRID AREA'S
    #ho-blue {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.4);
        transition: opacity 0.25s;
        &:hover {
            opacity: 1;
            backdrop-filter: blur(5px);
            transition: ease-in-out 350ms;
        }
    }
    #ho-blue > * {
        transform: translateY(30px);
        transition: transform 0.5s;
    }
    #ho-blue:hover > * {
        transform: translateY(0);
    }
}
