///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
  #grid-wrapper-fiction-arjen {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 90vh);
  }
  .eight-arjen {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .seven-arjen {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .six-arjen {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .five-arjen {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .four-arjen {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .three-arjen {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .two-arjen {
    grid-column: 1/2;
    grid-row: 7/8;
  }
  .one-arjen {
    grid-column: 1/2;
    grid-row: 8/9;
  }
  ///CARD ONE
  #grid-wrapper-fiction-arjen > div.one-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD TWO
  #grid-wrapper-fiction-arjen > div.two-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  //CARD THREE
  #grid-wrapper-fiction-arjen > div.three-arjen > a div {
    background-size: auto 115%;
    background-position: 10%;
    background-repeat: no-repeat;
  }
  ///CARD FOUR
  #grid-wrapper-fiction-arjen > div.four-arjen > a div {
    background-size: cover;
    background-position: 30%;
    background-repeat: no-repeat;
  }
  ///CARD FIVE
  #grid-wrapper-fiction-arjen > div.five-arjen > a div {
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
  }
  ///CARD SIX
  #grid-wrapper-fiction-arjen > div.six-arjen > a div {
    background-size: auto;
    background-position: center 30%;
    background-repeat: no-repeat;
  }
  ///CARD SEVEN
  #grid-wrapper-fiction-arjen > div.seven-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD EIGHT
  #grid-wrapper-fiction-arjen > div.eight-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
  #grid-wrapper-fiction-arjen {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 200px);
  }
  /// 3 SMALL
  .eight-arjen {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .seven-arjen {
    grid-column: 3/5;
    grid-row: 1/3;
  }
  .six-arjen {
    grid-column: 5/7;
    grid-row: 1/3;
  }
  /// 2 BIG
  .five-arjen {
    grid-column: 1/4;
    grid-row: 3/5;
  }
  .four-arjen {
    grid-column: 4/7;
    grid-row: 3/5;
  }
  /// 3 SMALL
  .three-arjen {
    grid-column: 1/3;
    grid-row: 5/7;
  }
  .two-arjen {
    grid-column: 3/5;
    grid-row: 5/7;
  }
  .one-arjen {
    grid-column: 5/7;
    grid-row: 5/7;
  }
  ///CARD ONE
  #grid-wrapper-fiction-arjen > div.one-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD TWO
  #grid-wrapper-fiction-arjen > div.two-arjen > a div {
    background-size: auto 115%;
    background-position: 7%;
    background-repeat: no-repeat;
  }
  //CARD THREE
  #grid-wrapper-fiction-arjen > div.three-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD FOUR
  #grid-wrapper-fiction-arjen > div.four-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD FIVE
  #grid-wrapper-fiction-arjen > div.five-arjen > a div {
    background-size: auto 120%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SIX
  #grid-wrapper-fiction-arjen > div.six-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SEVEN
  #grid-wrapper-fiction-arjen > div.seven-arjen > a div {
    background-size: auto 75%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD EIGHT
  #grid-wrapper-fiction-arjen > div.eight-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
  #grid-wrapper-fiction-arjen {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 200px);
  }
  /// 3 SMALL
  .eight-arjen {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .seven-arjen {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .six-arjen {
    grid-column: 5/7;
    grid-row: 2/4;
  }
  /// 2 BIG
  .five-arjen {
    grid-column: 1/4;
    grid-row: 4/6;
  }
  .four-arjen {
    grid-column: 4/7;
    grid-row: 4/6;
  }
  /// 3 SMALL
  .three-arjen {
    grid-column: 1/3;
    grid-row: 6/8;
  }
  .two-arjen {
    grid-column: 3/5;
    grid-row: 6/8;
  }
  .one-arjen {
    grid-column: 5/7;
    grid-row: 6/8;
  }
  ///CARD ONE
  #grid-wrapper-fiction-arjen > div.one-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD TWO
  #grid-wrapper-fiction-arjen > div.two-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  //CARD THREE
  #grid-wrapper-fiction-arjen > div.three-arjen > a div {
    background-size: auto;
    background-position: 15%;
    background-repeat: no-repeat;
  }
  ///CARD FOUR
  #grid-wrapper-fiction-arjen > div.four-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD FIVE
  #grid-wrapper-fiction-arjen > div.five-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SIX
  #grid-wrapper-fiction-arjen > div.six-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SEVEN
  #grid-wrapper-fiction-arjen > div.seven-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD EIGHT
  #grid-wrapper-fiction-arjen > div.eight-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
  #grid-wrapper-fiction-arjen {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 200px);
  }
  /// 3 SMALL
  .eight-arjen {
    grid-column: 1/3;
    grid-row: 2/4;
  }
  .seven-arjen {
    grid-column: 3/5;
    grid-row: 2/4;
  }
  .six-arjen {
    grid-column: 5/7;
    grid-row: 2/4;
  }
  /// 2 BIG
  .five-arjen {
    grid-column: 1/4;
    grid-row: 4/6;
  }
  .four-arjen {
    grid-column: 4/7;
    grid-row: 4/6;
  }
  /// 3 SMALL
  .three-arjen {
    grid-column: 1/3;
    grid-row: 6/8;
  }
  .two-arjen {
    grid-column: 3/5;
    grid-row: 6/8;
  }
  .one-arjen {
    grid-column: 5/7;
    grid-row: 6/8;
  }
  ///CARD ONE
  #grid-wrapper-fiction-arjen > div.one-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD TWO
  #grid-wrapper-fiction-arjen > div.two-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  //CARD THREE
  #grid-wrapper-fiction-arjen > div.three-arjen > a div {
    background-size: auto;
    background-position: 15%;
    background-repeat: no-repeat;
  }
  ///CARD FOUR
  #grid-wrapper-fiction-arjen > div.four-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD FIVE
  #grid-wrapper-fiction-arjen > div.five-arjen > a div {
    background-size: auto 115%;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SIX
  #grid-wrapper-fiction-arjen > div.six-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SEVEN
  #grid-wrapper-fiction-arjen > div.seven-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD EIGHT
  #grid-wrapper-fiction-arjen > div.eight-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
  #grid-wrapper-fiction-arjen {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 200px);
  }
  /// 3 SMALL
  .eight-arjen {
    grid-column: 1/3;
    grid-row: 2/5;
  }
  .seven-arjen {
    grid-column: 3/5;
    grid-row: 2/5;
  }
  .six-arjen {
    grid-column: 5/7;
    grid-row: 2/5;
  }
  /// 2 BIG
  .five-arjen {
    grid-column: 1/4;
    grid-row: 5/8;
  }
  .four-arjen {
    grid-column: 4/7;
    grid-row: 5/8;
  }
  /// 3 SMALL
  .three-arjen {
    grid-column: 1/3;
    grid-row: 8/11;
  }
  .two-arjen {
    grid-column: 3/5;
    grid-row: 8/11;
  }
  .one-arjen {
    grid-column: 5/7;
    grid-row: 8/11;
  }
  ///CARD ONE
  #grid-wrapper-fiction-arjen > div.one-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD TWO
  #grid-wrapper-fiction-arjen > div.two-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  //CARD THREE
  #grid-wrapper-fiction-arjen > div.three-arjen > a div {
    background-size: auto;
    background-position: 7%;
    background-repeat: no-repeat;
  }
  ///CARD FOUR
  #grid-wrapper-fiction-arjen > div.four-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD FIVE
  #grid-wrapper-fiction-arjen > div.five-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SIX
  #grid-wrapper-fiction-arjen > div.six-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SEVEN
  #grid-wrapper-fiction-arjen > div.seven-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD EIGHT
  #grid-wrapper-fiction-arjen > div.eight-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
  #grid-wrapper-fiction-arjen {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 200px);
  }
  /// 3 SMALL
  .eight-arjen {
    grid-column: 1/3;
    grid-row: 2/5;
  }
  .seven-arjen {
    grid-column: 3/5;
    grid-row: 2/5;
  }
  .six-arjen {
    grid-column: 5/7;
    grid-row: 2/5;
  }
  /// 2 BIG
  .five-arjen {
    grid-column: 1/4;
    grid-row: 5/8;
  }
  .four-arjen {
    grid-column: 4/7;
    grid-row: 5/8;
  }
  /// 3 SMALL
  .three-arjen {
    grid-column: 1/3;
    grid-row: 8/11;
  }
  .two-arjen {
    grid-column: 3/5;
    grid-row: 8/11;
  }
  .one-arjen {
    grid-column: 5/7;
    grid-row: 8/11;
  }
  ///CARD ONE
  #grid-wrapper-fiction-arjen > div.one-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD TWO
  #grid-wrapper-fiction-arjen > div.two-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  //CARD THREE
  #grid-wrapper-fiction-arjen > div.three-arjen > a div {
    background-size: auto;
    background-position: 7%;
    background-repeat: no-repeat;
  }
  ///CARD FOUR
  #grid-wrapper-fiction-arjen > div.four-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD FIVE
  #grid-wrapper-fiction-arjen > div.five-arjen > a div {
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SIX
  #grid-wrapper-fiction-arjen > div.six-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD SEVEN
  #grid-wrapper-fiction-arjen > div.seven-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  ///CARD EIGHT
  #grid-wrapper-fiction-arjen > div.eight-arjen > a div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
