#featured {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  overflow: hidden;
}

.featured-item {
  position: absolute;
  left: 50%;
  overflow: hidden;
}

.featured-item.active {
  visibility: visible;
}

.swiper-slide-prev, .swiper-slide-next {
  opacity: 0!important;
  z-index: 2;
  overflow: hidden;
}

.swiper-slide-visible {
  visibility: visible;
  z-index: 1000;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .featured-item {
    width: 100%;
    top: 40%;
  }
}
