.topsection-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}
///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    .container-desktop {
        display: none;
    }
    h1 {
        letter-spacing: 0.04rem;
        color: whitesmoke;
        font-size: 17px;
        margin-bottom: 5px;
    }
    .card-five {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        // max-height: 30vh;
        top: 150px;
        left: 20%;
        line-height: 1.3rem;
        z-index: 2;
        h3 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
    }
    .card-two {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        // max-height: 30vh;
        top: 275px;
        left: 20%;
        line-height: 1.3rem;
        z-index: 2;
        h3 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
    }
    .card-one {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 55vw;
        // max-height: 30vh;
        top: 375px;
        left: 20%;
        line-height: 1.3rem;
        z-index: 2;
        h3 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-phone > h3 {
        color: #f5a1a3;
    }
    .card-four {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        // max-height: 30vh;
        top: 475px;
        left: 20%;
        line-height: 1.3rem;
        z-index: 2;
        h3 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
    }
    .card-three {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        // max-height: 30vh;
        top: 575px;
        left: 20%;
        line-height: 1.3rem;
        z-index: 2;
        h3 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    .card-six {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 40vw;
        // max-height: 30vh;
        top: 700px;
        left: 20%;
        line-height: 1.3rem;
        z-index: 2;
        h3 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    ///DISPLAY NONE
    .container-desktop {
        display: none;
    }
    ///HQ CARD
    .card-five {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 5rem;
        left: 55%;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 14px;
            margin-bottom: 3px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.1rem;
            color: whitesmoke;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
    }
    ///EMILY CARD
    .card-two {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 5rem;
        left: 80%;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 14px;
            margin-bottom: 3px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.1rem;
            color: whitesmoke;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
    }
    ///QUINTEN CARD
    .card-one {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 10.5rem;
        left: 55%;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 14px;
            margin-bottom: 3px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.1rem;
            color: whitesmoke;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-phone > h3 {
        color: #f5a1a3;
    }
    ///LAUREN CARD
    .card-four {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 10.5rem;
        left: 80%;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 14px;
            margin-bottom: 3px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.1rem;
            color: whitesmoke;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
    }
    ///CREATIVES CARD
    .card-three {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 16.5rem;
        left: 55%;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 14px;
            margin-bottom: 3px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.1rem;
            color: whitesmoke;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///SOCIALS CARD
    .card-six {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 16.5rem;
        left: 80%;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 14px;
            margin-bottom: 3px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.1rem;
            color: whitesmoke;
            font-size: 10px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    ///DISPLAY NONE
    .container-desktop {
        display: none;
    }
    ///HQ CARD
    .card-five {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 15rem;
        left: 28%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            position: relative;
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            position: relative;
            letter-spacing: 0.01rem;
            line-height: 1.9rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
    }
    ///EMILY CARD
    .card-two {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 15rem;
        left: 65%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            position: relative;
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            position: relative;
            letter-spacing: 0.01rem;
            line-height: 1.9rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
    }
    ///QUINTEN CARD
    .card-one {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 25rem;
        left: 28%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            position: relative;
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            position: relative;
            letter-spacing: 0.01rem;
            line-height: 1.9rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-phone > h3 {
        color: #f5a1a3;
    }
    ///LAUREN CARD
    .card-four {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 25rem;
        left: 65%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            position: relative;
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            position: relative;
            letter-spacing: 0.01rem;
            line-height: 1.9rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
    }
    ///CREATIVES CARD
    .card-three {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 35rem;
        left: 28%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            position: relative;
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            position: relative;
            letter-spacing: 0.01rem;
            line-height: 1.9rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///SOCIALS CARD
    .card-six {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 35rem;
        left: 65%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            position: relative;
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            position: relative;
            letter-spacing: 0.01rem;
            line-height: 1.9rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 400;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    ///DISPLAY NONE
    .container-desktop {
        display: none;
    }
    ///HQ CARD
    .card-five {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 11rem;
        left: 52%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.6rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
    }
    ///EMILY CARD
    .card-two {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 11rem;
        left: 77%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.6rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
    }
    ///QUINTEN CARD
    .card-one {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 21rem;
        left: 52%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.6rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-phone > h3 {
        color: #f5a1a3;
    }
    ///LAUREN CARD
    .card-four {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 21rem;
        left: 77%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.6rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
    }
    ///CREATIVES CARD
    .card-three {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 31rem;
        left: 52%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.6rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///SOCIALS CARD
    .card-six {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 31rem;
        left: 77%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.6rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1601px) {
    ///DISPLAY NONE
    .container-desktop {
        display: none;
    }
    ///HQ CARD
    .card-five {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 11rem;
        left: 55%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            opacity: 0.75;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-title-five > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-mail-five > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///EMILY CARD
    .card-two {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 11rem;
        left: 75%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > div.content-details-title-two > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-mail-two > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-phone-two > h3 {
        opacity: 0.75;
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///QUINTEN CARD
    .card-one {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 21rem;
        left: 55%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > div.content-details-title > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-mail > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-phone > h3 {
        opacity: 0.75;
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///LAUREN CARD
    .card-four {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 21rem;
        left: 75%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > div.content-details-title-four > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-mail-four > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-phone-four > h3 {
        opacity: 0.75;
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///CREATIVES CARD
    .card-three {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 31rem;
        left: 55%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            // opacity: 0.75;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-three > a.content-details-mail-three > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-three > div.content-details-title-three-blue {
        margin-top: 8px;
    }
    #root > div > section > div.container-mobile > div.card-three > a.content-details-mail-three-blue > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///SOCIALS CARD
    .card-six {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 31rem;
        left: 75%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            opacity: 0.75;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-six > a.content-instagram > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-six > a.content-facebook > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-six > a.content-vimeo > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
}
///Desktop Big
@media screen and (min-width: 1602px) and (max-width: 2400px) {
    ///DISPLAY NONE
    .container-desktop {
        display: none;
    }
    ///HQ CARD
    .card-five {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 13.5rem;
        left: 55%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            opacity: 0.75;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-title-five > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-mail-five > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///EMILY CARD
    .card-two {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 13.5rem;
        left: 75%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > div.content-details-title-two > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-mail-two > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-two > a.content-details-phone-two > h3 {
        opacity: 0.75;
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///QUINTEN CARD
    .card-one {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 23.5rem;
        left: 55%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > div.content-details-title > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-mail > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-one > a.content-details-phone > h3 {
        opacity: 0.75;
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///LAUREN CARD
    .card-four {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 23.5rem;
        left: 75%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > div.content-details-title-four > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-mail-four > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-four > a.content-details-phone-four > h3 {
        opacity: 0.75;
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///CREATIVES CARD
    .card-three {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 33.5rem;
        left: 55%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            // opacity: 0.75;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-three > a.content-details-mail-three > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-three > div.content-details-title-three-blue {
        margin-top: 8px;
    }
    #root > div > section > div.container-mobile > div.card-three > a.content-details-mail-three-blue > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///SOCIALS CARD
    .card-six {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-width: 35vw;
        max-height: 30vh;
        top: 33.5rem;
        left: 75%;
        line-height: 1.5rem;
        z-index: 2;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.01rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
            // padding: 0;
            opacity: 0.75;
            cursor: pointer;
        }
        a {
            text-decoration: none;
        }
    }
    #root > div > section > div.container-mobile > div.card-six > a.content-instagram > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-six > a.content-facebook > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > div > section > div.container-mobile > div.card-six > a.content-vimeo > h3 {
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
}
