.topsection-container {
    position: absolute;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 10px;
}

//QUINTIN CARD
.contact-name-one {
    position: absolute;
    grid-column: 10/12;
    grid-row: 4/5;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 9px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.25s;
    z-index: 1;
    h1 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        opacity: 1;
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}
.content-details-title {
    position: absolute;
    grid-column: 10/12;
    grid-row: 5/6;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in-out 1.5s;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    font-style: italic;
    // transform: translateY(400px);
    h2 {
        margin: 0;
    }
}
.content-one:hover .content-details-title {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
}
.content-details-mail {
    position: absolute;
    grid-column: 10/12;
    grid-row: 6/7;
    top: 0;
    left: 0;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-one:hover .content-details-mail {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}
.content-details-phone {
    position: absolute;
    grid-column: 10/12;
    grid-row: 6/7;
    top: 25px;
    left: 0;
    // height: 100%;
    // display: flex;
    // align-items: flex-end;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-one:hover .content-details-phone {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}

//BLUE CARD
.contact-name-two {
    position: absolute;
    // grid-column: 12/15;
    grid-column: 12/14;
    grid-row: 4/5;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 9px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.25s;
    z-index: 1;
    h1 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        opacity: 1;
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}
.content-details-title-two {
    position: absolute;
    grid-column: 12/14;
    grid-row: 5/6;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in-out 1.5s;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    font-style: italic;
    // transform: translateY(400px);
    h3 {
        margin: 0;
    }
}
.content-two:hover .content-details-title-two {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
}
.content-details-mail-two {
    position: absolute;
    grid-column: 12/14;
    grid-row: 6/7;
    top: 0;
    left: 0;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-two:hover .content-details-mail-two {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}
.content-details-phone-two {
    position: absolute;
    grid-column: 12/14;
    grid-row: 6/7;
    top: 25px;
    left: 0;
    // height: 100%;
    // display: flex;
    // align-items: flex-end;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-two:hover .content-details-phone-two {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}

//ACHMED CARD
.contact-name-three {
    position: absolute;
    grid-column: 10/12;
    grid-row: 7/8;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 9px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.25s;
    z-index: 1;
    h1 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        opacity: 1;
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}
.content-details-title-three {
    position: absolute;
    grid-column: 10/12;
    grid-row: 8/9;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in-out 1.5s;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    font-style: italic;
    // transform: translateY(400px);
    h3 {
        margin: 0;
    }
}
.content-three:hover .content-details-title-three {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
}
.content-details-mail-three {
    position: absolute;
    grid-column: 10/12;
    grid-row: 9/10;
    top: 0;
    left: 0;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-three:hover .content-details-mail-three {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}
.content-details-phone-three {
    position: absolute;
    grid-column: 10/12;
    grid-row: 9/10;
    top: 25px;
    left: 0;
    // height: 100%;
    // display: flex;
    // align-items: flex-end;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-three:hover .content-details-phone-three {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}

//EMILY CARD
.contact-name-four {
    position: absolute;
    grid-column: 12/14;
    grid-row: 7/8;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 9px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.25s;
    z-index: 1;
    h1 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        opacity: 1;
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}
.content-details-title-four {
    position: absolute;
    grid-column: 12/14;
    grid-row: 8/9;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in-out 1.5s;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    font-style: italic;
    // transform: translateY(400px);
    h3 {
        margin: 0;
    }
}
.content-four:hover .content-details-title-four {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
}
.content-details-mail-four {
    position: absolute;
    grid-column: 12/14;
    grid-row: 9/10;
    top: 0;
    left: 0;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-four:hover .content-details-mail-four {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}
.content-details-phone-four {
    position: absolute;
    grid-column: 12/14;
    grid-row: 9/10;
    top: 25px;
    left: 0;
    // height: 100%;
    // display: flex;
    // align-items: flex-end;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-four:hover .content-details-phone-four {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}

//LAUREN CARD
.contact-name-five {
    position: absolute;
    grid-column: 10/12;
    grid-row: 10/11;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 9px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.25s;
    z-index: 1;
    h1 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        opacity: 1;
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}
.content-details-title-five {
    position: absolute;
    grid-column: 10/12;
    grid-row: 11/12;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in-out 1.5s;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    font-style: italic;
    // transform: translateY(400px);
    h3 {
        margin: 0;
    }
}
.content-five:hover .content-details-title-five {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
}
.content-details-mail-five {
    position: absolute;
    grid-column: 10/12;
    grid-row: 12/13;
    top: 0;
    left: 0;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-five:hover .content-details-mail-five {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}
.content-details-phone-five {
    position: absolute;
    grid-column: 10/12;
    grid-row: 12/13;
    top: 25px;
    left: 0;
    // height: 100%;
    // display: flex;
    // align-items: flex-end;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-five:hover .content-details-phone-five {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}

//SOCIALS CARD
.contact-name-six {
    position: absolute;
    grid-column: 12/14;
    grid-row: 10/11;
    height: 100%;
    display: flex;
    align-items: flex-end;
    top: 0;
    left: 0;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 9px;
    color: white;
    opacity: 0.7;
    transition: opacity 0.25s;
    z-index: 1;
    h1 {
        margin: 0;
        padding: 0;
    }
    &:hover {
        opacity: 1;
        transition: ease-in-out 350ms;
        cursor: pointer;
    }
}
.content-instagram {
    position: absolute;
    grid-column: 12/14;
    grid-row: 11/12;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    transition: ease-in-out 1.5s;
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
    // transform: translateY(400px);
    h3 {
        margin: 0;
    }
}
.content-six:hover .content-instagram {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
    // transform: translateY(0);
}
.content-facebook {
    position: absolute;
    grid-column: 12/14;
    grid-row: 12/13;
    top: 0;
    left: 0;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-six:hover .content-facebook {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}
.content-vimeo {
    position: absolute;
    grid-column: 12/14;
    grid-row: 12/13;
    top: 25px;
    left: 0;
    // height: 100%;
    // display: flex;
    // align-items: flex-end;
    transition: ease-in-out 1.5s;
    // transform: translateY(400px);
    // font-family: 'Anton', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    font-family: "Julius Sans One", sans-serif;
    // font-family: "Wire One", sans-serif;
    // font-family: "Roboto Condensed", sans-serif;
    font-size: 11px;
    color: white;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    cursor: pointer;
    text-decoration: none;
    h3 {
        margin: 0;
    }
}
.content-six:hover .content-vimeo {
    opacity: 0.6;
    visibility: visible;
    // transform: translateY(0);
    &:hover {
        opacity: 1;
        transition: opacity 0.25s;
        transition: ease-in-out 350ms;
    }
}