.topsection-container {
    position: relative;
    width: 100vw;
    text-transform: uppercase;
    // background-color: black;
    font-family: "Roboto Condensed", sans-serif;
}
///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    .topsection-container {
        height: 200vh; ///was 150vh
    }
    .contact-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 9rem;
        transform: translate(-50%);
    }
    .contact-container .cards {
        flex-direction: column;
        width: 100%;
        // margin: 0px 35px 5px 35px;
        padding: 0px 35px 5px 35px;
        line-height: 1.5rem;
        h1 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 16px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.03rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///HQ BBKK
    .content-details-phone-five > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///EMILY
    .content-details-phone-two > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///QUINTIN
    .content-details-phone > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///LAUREN
    .content-details-phone-four > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///CREATIVES
    #root > section > div > div.cards.three > h3:nth-child(4) {
        margin-top: 8px;
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    .topsection-container {
        height: 150vh;
    }
    .contact-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        // width: 100%;
        left: 50%;
        top: 6rem;
        transform: translate(-50%);
    }
    .contact-container .cards {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 15px 5px 0px 5px;
        // padding: 15px 0px 0px 0px;
        line-height: 1rem;
        h1 {
            letter-spacing: 0.03rem;
            color: whitesmoke;
            font-size: 16px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.03rem;
            line-height: 1.2rem;
            color: whitesmoke;
            font-size: 13.5px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///HQ BBKK
    #root > section > div > div.cards.five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
    }
    ///EMILY
    #root > section > div > div.cards.two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
    }
    ///QUINTIN
    #root > section > div > div.cards.one > a.content-details-phone > h3 {
        color: #f5a1a3;
    }
    ///LAUREN
    #root > section > div > div.cards.four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
    }
    ///CREATIVES
    #root > section > div > div.cards.three > h3:nth-child(4) {
        margin-top: 8px;
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    .topsection-container {
        height: 100vh;
    }
    .contact-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 90%;
        left: 50%;
        top: 13rem;
        transform: translate(-50%);
    }
    .contact-container .cards {
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 15px 0px 10px 35px;
        padding: 15px 0px 10px 35px;
        line-height: 1.5rem;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.03rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///HQ BBKK
    .content-details-phone-five > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///EMILY
    .content-details-phone-two > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///QUINTIN
    .content-details-phone > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///LAUREN
    .content-details-phone-four > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///CREATIVES
    #root > section > div > div.cards.three > h3:nth-child(4) {
        margin-top: 8px;
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    .topsection-container {
        height: 100vh;
    }
    .contact-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        // width: 100%;
        left: 50%;
        top: 11rem;
        transform: translate(-50%);
    }
    .contact-container .cards {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: 15px 0px 15px 50px; /// margin: 15px 20px;
        line-height: 1.5rem;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.03rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///HQ BBKK
    .content-details-phone-five > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///EMILY
    .content-details-phone-two > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///QUINTIN
    .content-details-phone > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///LAUREN
    .content-details-phone-four > h3:nth-child(1) {
        color: #f5a1a3;
    }
    ///CREATIVES
    #root > section > div > div.cards.three > h3:nth-child(4) {
        margin-top: 8px;
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    .topsection-container {
        height: 100vh;
    }
    .contact-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 100%;
        left: 50%;
        top: 11rem;
        transform: translate(-50%);
    }
    .contact-container .cards {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin: 15px 0px 15px 50px; /// margin: 15px 20px;
        line-height: 1.5rem;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 19px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.03rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///HQ BBKK
    #root > section > div > div.cards.five > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///EMILY
    #root > section > div > div.cards.two > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///QUINTIN
    #root > section > div > div.cards.one > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.one > a.content-details-phone > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///LAUREN
    #root > section > div > div.cards.four > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///CREATIVES
    #root > section > div > div.cards.three > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.three > h3:nth-child(4) {
        margin-top: 8px;
    }
    ///SOCIALS
    #root > section > div > div.cards.six > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
    .topsection-container {
        height: 100vh;
    }
    .contact-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // width: 100%;
        left: 50%;
        top: 12rem;
        transform: translate(-50%);
    }
    .contact-container .cards {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 15px 0px 25px 95px; /// margin: 15px 20px;
        line-height: 1.5rem;
        h1 {
            letter-spacing: 0.05rem;
            color: whitesmoke;
            font-size: 20px;
            margin-bottom: 5px;
        }
        h3 {
            letter-spacing: 0.03rem;
            line-height: 1.4rem;
            color: whitesmoke;
            font-size: 16px;
            font-weight: 100;
            margin: 0;
        }
        a {
            text-decoration: none;
        }
    }
    ///HQ BBKK
    #root > section > div > div.cards.five > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.five > a.content-details-phone-five > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///EMILY
    #root > section > div > div.cards.two > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.two > a.content-details-phone-two > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///QUINTIN
    #root > section > div > div.cards.one > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.one > a.content-details-phone > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///LAUREN
    #root > section > div > div.cards.four > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.four > a.content-details-phone-four > h3 {
        color: #f5a1a3;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    ///CREATIVES
    #root > section > div > div.cards.three > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
    #root > section > div > div.cards.three > h3:nth-child(4) {
        margin-top: 8px;
    }
    ///SOCIALS
    #root > section > div > div.cards.six > a > h3 {
        opacity: 0.75;
        &:hover {
            opacity: 1;
            transition: ease-in-out 350ms;
        }
    }
}
