#grid-wrapper-pics {
    --g: 5px; /* controls the gap */

    display: grid;
    gap: var(--g);
}
#grid-wrapper-pics img {
    width: 0;
    height: 0;
    min-width: 100%;
    object-fit: cover;
}
///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    #grid-wrapper-pics {
        --s: 150px; /* controls the size */ /// was 200px

        // width: calc(3 * var(--s) + 2 * var(--g)); /* 3 times the size plus 2 times the gap */
        aspect-ratio: 1;
        grid-template-columns: repeat(1, auto);
    }
    #grid-wrapper-pics img {
        height: 100%;
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    #grid-wrapper-pics {
        --s: 150px; /* controls the size */ /// was 200px

        // width: calc(7.1 * var(--s) + 2 * var(--g)); /* 3 times the size plus 2 times the gap */
        aspect-ratio: 0.5;
        grid-template-columns: repeat(3, auto);
    }
    #grid-wrapper-pics img {
        height: 100%; ////min-height, but Safari won't except that
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    #grid-wrapper-pics {
        --s: 150px; /* controls the size */ /// was 200px

        // width: calc(7.1 * var(--s) + 2 * var(--g)); /* 3 times the size plus 2 times the gap */
        aspect-ratio: 0.5;
        grid-template-columns: repeat(3, auto);
    }
    #grid-wrapper-pics img {
        height: 100%; ////min-height, but Safari won't except that
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    #grid-wrapper-pics {
        --s: 201.5px; /* controls the size */ /// was 200px

        // width: calc(7.1 * var(--s) + 2 * var(--g)); /* 3 times the size plus 2 times the gap */
        aspect-ratio: 0.5;
        grid-template-columns: repeat(3, auto);
    }
    #grid-wrapper-pics img {
        height: 100%; ////min-height, but Safari won't except that
    }
}
///Desktop
@media screen and (min-width: 1281px) and (max-width: 1960px) {
    #grid-wrapper-pics {
        --s: 201.5px; /* controls the size */ /// was 200px

        // width: calc(7.1 * var(--s) + 2 * var(--g)); /* 3 times the size plus 2 times the gap */
        aspect-ratio: 0.5;
        grid-template-columns: repeat(3, auto);
    }
    #grid-wrapper-pics img {
        height: 100%; ////min-height, but Safari won't except that
    }
}
///Desktop Big
@media screen and (min-width: 1961px) and (max-width: 2400px) {
    #grid-wrapper-pics {
        --s: 201.5px; /* controls the size */ /// was 200px

        // width: calc(7.1 * var(--s) + 2 * var(--g)); /* 3 times the size plus 2 times the gap */
        aspect-ratio: 0.5;
        grid-template-columns: repeat(3, auto);
    }
    #grid-wrapper-pics img {
        height: 100%; ////min-height, but Safari won't except that
    }
}
