.header-container-transparent {
    position: absolute;
    width: 100vw;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 2000;
}
.header-left-side-transparent {
    position: relative;
    list-style-type: none;
    padding: 0;
    a {
        color: whitesmoke;
        text-decoration: none;
    }
    a.commercial-btn-transparent.active {
        color: #75d5fd;
        transition: 350ms ease-in-out;
    }
    a.fiction-btn-transparent.active {
        color: #75d5fd;
        transition: 350ms ease-in-out;
    }
}
.bbk-logo-transparent {
    position: relative;
}
.header-right-side-transparent {
    position: relative;
    list-style-type: none;
    padding: 0;
    a {
        color: whitesmoke;
        text-decoration: none;
    }
    a.about-btn-transparent.active {
        color: #75d5fd;
        transition: 350ms ease-in-out;
    }
    a.contact-btn-transparent.active {
        color: #75d5fd;
        transition: 350ms ease-in-out;
    }
}

///Mobile Portrait
@media screen and (max-width: 600px) and (orientation: portrait) {
    /// display none
    .desktop-container-transparent {
        display: none;
    }
    #mobile-container-transparent {
        position: fixed;
        display: flex; 
        align-items: flex-end; 
        width: 100%; 
        min-height: 11.5%; 
        // border-bottom: 0.5px solid #f5a1a2ba;
    }
    #mobile-container-transparent:after {
        content: "";
        position: absolute;
        // background: #060603;
        border-bottom: 0.5px solid #f5a1a2ba;
        bottom: 0;
        left: 6.5%;
        right: 6.5%;
        width: 87%;
    }
    .nav-buttons-transparent {
        // position: absolute;
        display: flex;
        justify-content: space-between;
        width: 87%;
        margin: 0 auto;
        margin-bottom: 5px;
        padding: 0;
        list-style-type: none;
        a {
            color: whitesmoke;
            font-size: 13px;
            text-decoration: none;
            letter-spacing: 0.09em;
        }
        a.commercial-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
        a.fiction-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
        a.about-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
        a.contact-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
    }
    .nav-buttons-transparent > li:nth-child(1) {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 87%;
    }
    .bbk-logo-mobile-transparent {
        position: absolute;
        width: 22vw;
        margin-bottom: 0.5rem; 
        img {
            width: 100%;
        }
    }
}
///Mobile Landscape
@media only screen and (min-width: 600px) and (max-width: 926px) and (orientation: landscape) {
    /// DISPLAY NONE
    #mobile-container-transparent {
        display: none;
    }
    .bbk-logo-mobile-transparent {
        display: none;
    }
    .desktop-container-transparent {
        position: fixed;
        display: flex;
        align-items: center;
        height: 10vh;
        margin-top: 15px;
    }
    .header-left-side-transparent {
        display: flex;
        justify-content: flex-end;
        width: 45vw;
        a {
            font-size: 13.5px;
            font-weight: 100;
            letter-spacing: 0.1em;
        }
    }
    .header-left-side-transparent > li:nth-child(1) {
        position: relative;
        right: 4rem;
    }
    .header-left-side-transparent > li:nth-child(2) {
        position: relative;
        right: 2rem;
    }
    .bbk-logo-transparent {
        display: flex;
        width: 10vw;
        img {
            width: 100%;
        }
    }
    .header-right-side-transparent {
        display: flex;
        justify-content: flex-start;
        width: 45vw;
        a {
            font-size: 13.5px;
            font-weight: 100;
            letter-spacing: 0.1em;
        }
    }
    .header-right-side-transparent > li:nth-child(2) {
        position: relative;
        left: 4rem;
    }
    .header-right-side-transparent > li:nth-child(1) {
        position: relative;
        left: 2rem;
    }
}
///Tablet Portrait
@media screen and (min-width: 600px) and (orientation: portrait) {
    .desktop-container-transparent {
        display: none;
    }
    #mobile-container-transparent {
        position: fixed;
        display: flex; ///EXPEREMIMENT TO LINE OUT NAV BUTTONS WITH BORDER BOTTOM
        align-items: flex-end; ///EXPEREMIMENT TO LINE OUT NAV BUTTONS WITH BORDER BOTTOM
        width: 100%; /// WAS 100VW
        min-height: 11.5%; /// WAS 11.5VH
        // background: linear-gradient(90deg, #060603, #060606);
        // border-bottom: 0.5px solid #f5a1a2ba;
    }
    #mobile-container-transparent:after {
        content: "";
        position: absolute;
        // background: #060603;
        border-bottom: 0.5px solid #f5a1a2ba;
        bottom: 0;
        left: 6.5%;
        right: 6.5%;
        width: 87%;
    }
    .nav-buttons-transparent {
        // position: absolute;
        display: flex;
        justify-content: space-between;
        width: 87%; ///EXPEREMIMENT TO LINE OUT NAV BUTTONS WITH BORDER BOTTOM
        // width: 100%; ///was 100vw
        // top: 67.5%; /// WAS 3.5REM
        margin: 0 auto;
        margin-bottom: 5px;
        padding: 0;
        list-style-type: none;
        a {
            color: whitesmoke;
            font-size: 21.5px;
            text-decoration: none;
            letter-spacing: 0.09em;
        }
        a.commercial-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
        a.fiction-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
        a.about-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
        a.contact-btn-transparent.active {
            color: #75d5fd;
            transition: 350ms ease-in-out;
        }
    }
    .nav-buttons-transparent > li:nth-child(1) {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 87%; ///EXPEREMIMENT TO LINE OUT NAV BUTTONS WITH BORDER BOTTOM
    }
    .bbk-logo-mobile-transparent {
        position: fixed;
        width: 19vw;
        margin-bottom: 0.5rem; /// WAS 10PX
        img {
            width: 100%;
        }
    }
}
///Tablet Landscape
@media screen and (min-width: 1023px) and (max-width: 1280px) and (orientation: landscape) {
    /// DISPLAY NONE
    #mobile-container-transparent {
        display: none;
    }
    .bbk-logo-mobile-transparent {
        display: none;
    }
    .desktop-container-transparent {
        position: fixed;
        display: flex;
        align-items: center;
        height: 10vh;
        margin-top: 15px;
    }
    .header-left-side-transparent {
        display: flex;
        justify-content: flex-end;
        width: 45vw;
        a {
            color: whitesmoke;
            font-size: 19px;
            font-weight: 100;
            letter-spacing: 0.1em;
            text-decoration: none;
        }
    }
    .header-left-side-transparent > li:nth-child(1) {
        position: relative;
        right: 4rem;
    }
    .header-left-side-transparent > li:nth-child(2) {
        position: relative;
        right: 2rem;
    }
    .bbk-logo-transparent {
        display: flex;
        width: 10vw;
        img {
            width: 100%;
        }
    }
    .header-right-side-transparent {
        display: flex;
        justify-content: flex-start;
        width: 45vw;
        transform: scale(1);
        a {
            color: whitesmoke;
            font-size: 19px;
            font-weight: 100;
            letter-spacing: 0.1em;
            text-decoration: none;
        }
    }
    .header-right-side-transparent > li:nth-child(2) {
        position: relative;
        left: 4rem;
    }
    .header-right-side-transparent > li:nth-child(1) {
        position: relative;
        left: 2rem;
    }
}
///Desktop
@media screen and (min-width: 1280px) {
    /// DISPLAY NONE
    #mobile-container-transparent {
        display: none;
    }
    .bbk-logo-mobile-transparent {
        display: none;
    }
    .desktop-container-transparent {
        position: fixed;
        display: flex;
        align-items: center;
        height: 10vh;
        margin-top: 15px;
    }
    .header-left-side-transparent {
        display: flex;
        justify-content: flex-end;
        width: 45vw;
        a {
            color: whitesmoke;
            font-size: 19px;
            font-weight: 400;
            letter-spacing: 0.1em;
            text-decoration: none;
            &:hover {
                color: #f5a1a3;
                transition: 400ms ease-in-out;
            }
        }
    }
    .header-left-side-transparent > li:nth-child(1) {
        position: relative;
        right: 8rem;
    }
    .header-left-side-transparent > li:nth-child(2) {
        position: relative;
        right: 4rem;
    }
    .bbk-logo-transparent {
        display: flex;
        width: 10vw;
        img {
            width: 100%;
        }
    }
    .header-right-side-transparent {
        display: flex;
        justify-content: flex-start;
        width: 45vw;
        a {
            color: whitesmoke;
            font-size: 19px;
            font-weight: 400;
            letter-spacing: 0.1em;
            text-decoration: none;
            &:hover {
                color: #f5a1a3;
                transition: 400ms ease-in-out;
            }
        }
    }
    .header-right-side-transparent > li:nth-child(2) {
        position: relative;
        left: 8rem;
    }
    .header-right-side-transparent > li:nth-child(1) {
        position: relative;
        left: 4rem;
    }
}
